* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
  }

  :root {
    --main-color: #d85b30;
    --body-color: #090a1a;
    --container-color: #171b3c;
    --heading-color: #222231;
    --box-color: #0d0f26;
    --bg-color: #fff;
  }
  

  img video {
    width: 100%;
  }

  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  
  header {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: white;
  }

  .nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
  }

  .navbar {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
  }
  .nav-link {
    font-size: 1rem;
    padding: 4px 8px;
    border-radius: 0.2rem;
    color: var(--container-color);
    
  }

  .logo {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--main-color);
    font-family: "Style Script", cursive;
    font-weight: 800;
    font-style: bold;
  }
  
  .nav-link:hover {
    color: var(--main-color);
    transition: 0.3s all linear;
  }

  main {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100dvw;
  }

  main p {
    text-align: center;
    line-height: 32px;
    width: 70%;
  }

  footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.4rem;
    padding: 30px 0;
    height: 400px;
    width: 100%;
    margin-top: 150px;
    background: rgb(240, 240, 240);
  }
  footer p {
    font-size: 1.2rem;
  }
  
 
  
  
  